<div>
    <mat-form-field appearance="fill">
        <mat-label>Datum aanwezigheden</mat-label>
        <input matInput [matDatepicker]="picker" required (dateChange)="changeDate()" [(ngModel)]="dag">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="month" ></mat-datepicker>
    </mat-form-field>&nbsp;
    <mat-slide-toggle color="primary" [(ngModel)]="ledenfilter">filter</mat-slide-toggle>
    <mat-icon aria-hidden="false" aria-label="Alle" (click)="clearFilter();" style='cursor: pointer;'>clear</mat-icon>
</div>
<div *ngIf="ledenfilter">
    <mat-form-field>
      <mat-label>min graad</mat-label>
      <mat-select [(ngModel)]="inputs.MinGr" (selectionChange)="PipeTransform();" >
        <mat-option *ngFor="let graad of graden" [value]="graad.GraadID">{{graad.omschrijving}}</mat-option>
      </mat-select>
    </mat-form-field>&nbsp;
    <mat-form-field>
        <mat-label>max graad</mat-label>
        <mat-select [(ngModel)]="inputs.MaxGr" (selectionChange)="PipeTransform();" >
            <mat-option *ngFor="let graad of graden" [value]="graad.GraadID">{{graad.omschrijving}}</mat-option>
        </mat-select>
    </mat-form-field>&nbsp;
    <mat-form-field class="example-full-width">
    <mat-label>min leeftijd</mat-label>
    <input matInput placeholder="6" type="number" [(ngModel)]="inputs.MinLeeft" (change)="PipeTransform();" >
    </mat-form-field>&nbsp;
    <mat-form-field class="example-full-width">
        <mat-label>max leeftijd</mat-label>
        <input matInput placeholder="6" type="number" [(ngModel)]="inputs.MaxLeeft" (change)="PipeTransform();" >
    </mat-form-field>&nbsp;
    <mat-form-field>
        <mat-label>Licentie</mat-label>
        <input matInput placeholder="6" type="number" [(ngModel)]="inputs.Lic" (change)="PipeTransform();" >
    </mat-form-field>&nbsp;
    <mat-form-field>
        <mat-label>status</mat-label>
        <mat-select (selectionChange)="PipeTransform();" [(ngModel)]="inputs.Active">
            <mat-option value="">onbepaald</mat-option>
            <mat-option value="true" selected>actief</mat-option>
            <mat-option value="false">niet actief</mat-option>
        </mat-select>
    </mat-form-field>&nbsp;
</div>  
<div class="example-container">
    <h3>Aanwezig</h3>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="LedenAanw"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div 
        class="example-box" 
        *ngFor="let item of LedenAanwShown " 
        cdkDrag>{{item.Voornaam}} {{item.Achternaam}}</div>
    </div>
</div>
<div class="example-container">
    <h3>Afwezig</h3>
    <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="LedenAfw"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div 
            class="example-box" 
            *ngFor="let item of LedenAfwShown" 
            cdkDrag>{{item.Voornaam}} {{item.Achternaam}}</div>
    </div>
</div>
