.mat-calendar-body-cell.selected
{
  background-color:red!important;
  border-radius: 50%
}
.drop-calendar
{
  width:30rem
}
button.AanwB{
  margin-right: 10px;
  margin-bottom: 10px;
	padding-right: 10px;
	padding-left: 1px;
}

.mat-calendar-body-cell.selected.mat-calendar-body-cell-content {
	color: #fff;
	background: #673ab7;
}
