<p>
    <button *ngFor="let item of recsjaar" 
        class="AanwB"
        (click)="setJaar(item.Tijdstip)"
        [matBadge]="item.aantal" 
        matBadgePosition="below after">{{item.Tijdstip | date:'yy'}}</button>
</p>
<p style="max-width: 280px;">
    <button *ngFor="let item of recsmaand"  
        class="AanwB"
        (click)="setCalendarData(item.Tijdstip)"
        [matBadge]="item.aantal" 
        matBadgePosition="below after">{{item.Tijdstip | date:'yy'}}<br />{{item.Tijdstip | date:'M'}}</button>
</p>
<div (click)="$event.stopPropagation()">
    <mat-calendar #calendar
        (selectedChange)="select($event,calendar)" 
        [dateClass]="isSelected"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [startAt]="selectedMonth"
        weekStart="2">
    </mat-calendar> 
</div>