<p>lid works!</p>
<!-- <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Voornaam</mat-label>
      <input matInput required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Achternaam</mat-label>
        <input matInput required>
    </mat-form-field>
      <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
        <mat-option value="option2">Option2</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div> -->