<div class="example-container">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Voornaam</mat-label>
      <input matInput required [(ngModel)]="lid.voornaam" [disabled]="lockForm">
    </mat-form-field>&nbsp;
    <button mat-button [disabled]="lockForm" (click)="lockForm = !lockForm"><mat-icon aria-hidden="false" aria-label="lock">lock</mat-icon></button>
    <button mat-button [disabled]="!lockForm" (click)="lockForm = !lockForm"><mat-icon aria-hidden="false" aria-label="unlock">lock_open</mat-icon></button>
  </div>
  <div>
  <mat-form-field appearance="fill">
    <mat-label>Achternaam</mat-label>
    <input matInput required [(ngModel)]="lid.achternaam" [disabled]="lockForm">
  </mat-form-field>
</div>
<mat-tab-group>
  <mat-tab> 
    <ng-template mat-tab-label>Adres</ng-template>
    <mat-form-field appearance="fill">
      <mat-label>Adres</mat-label>
      <input matInput required [(ngModel)]="lid.straatnr" [disabled]="lockForm">
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Postcode</mat-label>
      <input matInput required minlength="4" [(ngModel)]="lid.postcode" [disabled]="lockForm">
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Gemeente</mat-label>
      <input matInput required [(ngModel)]="lid.gemeente" [disabled]="lockForm">
    </mat-form-field> 
  </mat-tab>
  <mat-tab label="Contact">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input matInput required type="email" [(ngModel)]="lid.email" [disabled]="lockForm">
      </mat-form-field>
<br />      <mat-form-field appearance="fill">
        <mat-label>email 2</mat-label>
        <input matInput required type="email" [(ngModel)]="lid.email2" [disabled]="lockForm">
      </mat-form-field>
<br />      <mat-form-field appearance="fill">
        <mat-label>Telefoonnummer</mat-label>
        <input matInput required [(ngModel)]="lid.tel" [disabled]="lockForm">
      </mat-form-field>
<br />      <mat-form-field appearance="fill">
        <mat-label>Telefoonnummer 2</mat-label>
        <input matInput required [(ngModel)]="lid.tel2" [disabled]="lockForm">
      </mat-form-field>
    </div>
  </mat-tab>
  <mat-tab label="Persoon">
    <div class="my-material-1">
      <div class="my-material-2">
        <div class="my-material-3">
          <mat-radio-group [(ngModel)]="lid.man" aria-label="Geslacht" labelPosition="before" aria-required="true" style="font-size: smaller;" [disabled]="lockForm">
            <mat-radio-button [value]="true">M</mat-radio-button>
            <mat-radio-button [value]="false">V</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <br />      
    <mat-form-field appearance="fill">
        <mat-label>Geboortedatum</mat-label>
        <input matInput [matDatepicker]="picker" [max]="maxDate" required [(ngModel)]="lid.geboortedatum" [disabled]="lockForm">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>
    <br />      
    <mat-form-field appearance="fill">
        <mat-label>Rijksregisternummer</mat-label>
        <input matInput type="text" maxlength="11" minlength="11" pattern="[0-9]{11}" [(ngModel)]="lid.rijksregister" [disabled]="lockForm">
      </mat-form-field>
    <br />      
    <mat-form-field appearance="fill">
        <mat-label>Geboorte plaats</mat-label>
        <input matInput required [(ngModel)]="lid.geboorteplaats" [disabled]="lockForm">
      </mat-form-field>
    
  </mat-tab>
</mat-tab-group>

<div>
  <mat-icon *ngIf="!lockForm" aria-hidden="false" aria-label="save">save</mat-icon>
</div>
</div>