<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>


  .spacer {
    flex: 1;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 575px) {
  }
</style>

<mat-toolbar color="primary">
  <button mat-icon-button aria-label="menu" [matMenuTriggerFor]="menu">
    <fa-icon [icon]="faBars" size="lg"></fa-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/aanwezig">
      <span>aanwezig</span>
    </button>
    <!-- <button mat-menu-item disabled>
      <span>Check voice mail</span>
    </button> -->
    <button mat-menu-item routerLink="/upload">
      <span>import files</span>
    </button>
  </mat-menu>
  <div class="spacer"></div>
  <span>{{ title }} app is running!</span>
  <div class="spacer"></div>
 </mat-toolbar>



<router-outlet></router-outlet>
