<p>
    <a 
        class="navlink" 
        [routerLink]="['/Home/ZetAanw']" 
        [routerLinkActive]="'active fluffy'">
        <mat-icon aria-hidden="false" aria-label="Aanwezig" >calendar_today</mat-icon>
    </a>
    <a 
        class="navlink" 
        [routerLink]="['/Home/ExLijst']" 
        [routerLinkActive]="'active fluffy'">
        <mat-icon aria-hidden="false" aria-label="Ex lijst" >school</mat-icon>
    </a>
    <a 
        class="navlink" 
        [routerLink]="['/Home/Filter lid']" 
        [routerLinkActive]="'active fluffy'">
        <mat-icon aria-hidden="false" aria-label="Aanwezig" >search</mat-icon>
    </a>
    <a
        class="navlink" 
        [routerLink]="['/Home/Insch']" 
        [routerLinkActive]="'active fluffy'">
        <mat-icon>subscriptions</mat-icon>
    </a>
</p>
<router-outlet></router-outlet>
