<div class="example-container">
  <mat-form-field>
    <mat-label>min graad</mat-label>
    <mat-select>
      <mat-option *ngFor="let graad of graden" [value]="graad.GraadID">{{graad.omschrijving}}</mat-option>
    </mat-select>
</mat-form-field>&nbsp;
<mat-form-field>
  <mat-label>max graad</mat-label>
  <mat-select>
    <mat-option *ngFor="let graad of graden" [value]="graad.GraadID">{{graad.omschrijving}}</mat-option>
  </mat-select>
</mat-form-field>&nbsp;
<mat-form-field class="example-full-width">
  <mat-label>min leeftijd</mat-label>
  <input matInput placeholder="6" type="number">
</mat-form-field>&nbsp;
<mat-form-field class="example-full-width">
  <mat-label>max leeftijd</mat-label>
  <input matInput placeholder="6" type="number">
</mat-form-field>&nbsp;
<mat-form-field>
  <mat-label>max graad</mat-label>
  <mat-select>
    <mat-option *ngFor="let lid of Leden" [value]="lid.licentie">{{lid.voornaam}}&nbsp;{{lid.achternaam}}</mat-option>
  </mat-select>
</mat-form-field>&nbsp;
</div>  
